/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: ;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

html {
	max-width: 98%;
	padding-left: 250px;
	padding-right: 200px;
}



/* Navagation */

nav {
	margin: 30px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	font-family: auto;

}

.img1 {
	display: flex;
	justify-content: flex-end;
	position: relative;
	left: 15px;
	bottom: 58px;
}

/* Content */

.info {
	position: relative;
	bottom: 125px;
}

.container {
	position: relative;
	top: 110px;
	line-height: 345%;
	right: 58px;
}


 .oneh {
	position: relative;
	left: 100px;
	font-size: 80px;
	
}

.twoh {
	position: relative;
	left: 200px;
	font-size: 80px;
}

.threeh {
	position: relative;
	left: 140px;
	font-size: 80px;

}
#start {
	display: inline;
	position: relative;
	left: 170px;
	width: 150px;
	height: 60px;
	padding-left: 35px;
	padding-right: 35px;
	box-sizing: content-box;
	border: 1px solid black
	
	
}

.logo2 {
	display: flex;
	position: relative;
	left: 510px;
	bottom: 225px;
}

.container-one {
	display: flex;
	justify-content: row;
	width: 100%;
}


.container-one .p1 {
	display: flex;
	justify-content: column;
	position: relative;
	top: 30px;
	right: 60px;
	
	
}

.container-one .p2 {
	display: flex;
	justify-content:column;
	position: relative;
	right: 0px;
	top: 29px;
}

.contain-one .p2, .h42 {
	display:flex;
	position: relative;
	left: 40px;
}

.middle-img {
	position: relative;
	top: 60px;
}



.container-five{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	position: relative;
	top: 90px;
}

.container-five .p3 {
	position: relative;
	top: 30px;
	right: 55px;

	 
}

.container-five .p4 {
	position: relative;
	top: 30px;
	right: 54px;

	 
}

.container-five .p5 {
	position: relative;
	top: 30px;
	right: 43px;

	 
}

.hr1 {
	position: relative;
	top: 150px;
}

/* Footer */

.last {
	position: relative;
	top: 155px;
}

address {
	position: relative;
	top: 2px;

}

div.num {
	position: relative;
	top: 10px;
}

footer a{
	display: flex;
	position: relative;
	top: 20px;
}


.copyR{
	position: relative;
	top: 215px;
	text-align: center;
}

/* Services Page */

nav{
	display:flex;
	position: relative;
	right: 25px;
	top: 45px;
	
}

nav a{
	color: black;
	text-decoration: none;
}


.img1{
	position: relative;
	top: -15px;
}

/* Content */

.beg-content{
	position: relative;
	top:20px;
}

.hrs1{
	position: relative;
	top: 30px
}

.top-content {
	display: flex;
	position: relative;
	top: 40px;
}

.top-content .top-child{
	border: 1.5px solid black;
	background-color: lightgrey;
	padding: 30px;

}

.top-content .top-child{
	margin-right: 5px;
}

.top-content .top-child:last-child{
	margin-left: 20px;
	position: relative;
	left:5px;
}

.top-content .top-child h6{
	border: 1px solid black;
	box-sizing: content-box;
	background-color: white;
	width: 125px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	top: 12px;
	
}

.mid-content {
	display: flex;
	position: relative;
	top: 70px;
}

.mid-content .mid-child{
	border: 1.5px solid black;
	background-color: lightgrey;
	padding: 30px;

}

.mid-content .mid-child{
	margin-right: 5px;
}

.mid-content .mid-child:last-child{
	margin-left: 20px;
	position: relative;
	left:5px;
}

.mid-content .mid-child h6{
	border: 1px solid black;
	box-sizing: content-box;
	background-color: white;
	width: 125px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	top: 12px;
	
}

.bot-content {
	display: flex;
	position: relative;
	top: 100px;
}

.bot-content .bot-child{
	border: 1.5px solid black;
	background-color: lightgrey;
	padding: 30px;

}

.bot-content .bot-child{
	margin-right: 5px;
}

.bot-content .bot-child:last-child{
	margin-left: 20px;
	position: relative;
	left:5px;
}

.bot-content .bot-child h6{
	border: 1px solid black;
	box-sizing: content-box;
	background-color: white;
	width: 125px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	top: 12px;
	
}

.hrs2{
	position: relative;
	top:120px
}



.last-container{
	display: flex;
}

.last-container .last-child{
	position: relative;
	top: 140px;
	width: 48%;
}

/* Footer */

footer ul li{
	position: relative;
	top: 165px;
	left: 9px;
	margin: 10px;
}

footer img{
	position: relative;
	left: 451px;
	bottom: 90px;
}

footer #copy{
	text-align: center;
}